<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}">
<!-- Styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tui-editor/1.4.10/tui-editor.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tui-editor/1.4.10/tui-editor-contents.css" />
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tui-editor/1.4.10/tui-editor-Editor-full.js"></script>
<div layout:fragment="content">
    <div class="card-header">Register Page</div>
    <div class="card-body">

        <form th:action="@{register}" method="post">

            <div class="form-group">
                <label>Title</label> <input class="form-control" name="title" th:value="${vo.title}" />
                <p class="help-block">Title text here.</p>
            </div>
            <div class="form-group">
                <label>Writer</label> <input class="form-control" name="writer" th:value="${#authentication.principal.member.uid}" readonly="readonly" />
            </div>

            <div class="form-group">
                <label>Content</label>
                <!-- <div id="editor"></div> -->
                <textarea class="form-control" rows="3" id="editor" name='editor' th:text="${vo.content}"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit Button</button>
            <button type="reset" class="btn btn-primary">Reset Button</button>
        </form>

    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script>
    <script th:inline="javascript">

        // const editor = new tui.Editor({
        //     el: document.querySelector('#editor'),
        //     height: '500px',
        //     initialEditType: 'markdown',
        //     previewStyle: 'vertical'
        // });
        //
        // editor.getHtml();
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {

                console.log(editor);

            })
            .catch(error => {

                console.error(error);

            });
    </script>
</div>
<!--  end fragment -->